
.updater-progress {
	margin: 2em 0;
}

.updater-admin p {
	margin: 0.5em 0;
}

.updater-backups-table {
	width: 100%;
	margin: 0.8em 0;
	max-width: 750px;
}

.updater-backups-table th {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}

.updater-backups-table td {
	padding: 10px 0;
	cursor: pointer;
}

.updater-backups-table .icon-delete {
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}

.track-progress li {
	list-style-type: none;
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0 2.3em 0 1.2em;
	text-align: left;
	line-height: 30px;
	height: 30px;
	background-position: right;
}

.upd-step-title {
	padding-bottom: 1em;
}

.updater-warning-p {
	padding-left: 0.5em;
}

.updater-space-bottom {
	padding-bottom: 1em;
}

.track-progress li:first-child {
	padding-left: 0;
}

.track-progress li.current {
	font-weight: bold;
}

.updater-spinner {
	display: block;
}

.updater-update {
	padding: 1em 0.75em;
	background-color: rgba(240, 240, 240, 0.9);
	max-width: 750px;
}