# SPDX-FileCopyrightText: 2016 Nextcloud GmbH and Nextcloud contributors
# SPDX-FileCopyrightText: 2015 ownCloud, Inc.
# SPDX-License-Identifier: AGPL-3.0-or-later
/box
/lib/Version.php
/tests/data
/tests/vendor
/vendor/bamarni/composer-bin-plugin/e2e
/vendor/bin
/vendor/symfony/console/Tests
/vendor/symfony/debug/Tests
/vendor/symfony/service-contracts/Test
/vendor-bin/**/vendor
.php-cs-fixer.cache
